* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

body {
  background: linear-gradient(90deg, rgba(0, 0, 122, 50%), 60%, rgba(255, 0, 122, 50%));
  font-family: Helvetica;
  color: #fff;
}

.glass {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  padding: 1.5rem;
  margin: 0.5rem auto;
  max-width: 700px;
}

#title {
  margin-top: 0;
}

#description {
  margin-bottom: 0;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

fieldset:last-of-type {
  text-align: center;
}

#description, .question, label, input, select, textarea {
  font-size: 1.2rem;
}

label {
  display: block;
}

.question {
  margin: 2rem 0 .5rem 0;
}

input, select {
  width: 100%;
  height: 2.5rem;
  padding: 0 .5rem;
  margin: .2rem 0 2rem 0;
  border-radius: .5rem;
  border-color: transparent;
}

input:focus:invalid {
    color: red;
    border: red 3px solid;
}

input[type="radio"], input[type="checkbox"] {
  width: 1.2rem;
  vertical-align: middle;
  margin: 0 .5rem 0 0;
}

input[type="submit"] {
  background-color: #0c0;
  width: 50%;
  margin: 1rem 0 0 0;
}

textarea {
  width: 100%;
  min-height: 7rem;
  max-height: 14rem;
  resize: vertical;
  padding: .5rem;
  margin-top: .2rem;
  border-radius: .5rem;
  border-color: transparent;
}

@media (max-width: 600px) {
  html {
    font-size: 16px;
  }
}
