body {
  background: linear-gradient(90deg, rgba(0, 0, 122, 50%), 60%, rgba(255, 0, 122, 50%));
  font-family: Helvetica;
  color: #fff;
}


.glass {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.5em auto;
  width: 60vw;
}


h1, #description {
  text-align: center;
}


#description {
  font-size: 1.25em
}


fieldset {
  margin: 2em;
  padding: 0;
  border: none;
}


fieldset:last-of-type {
  text-align: center;
}


label {
  display: block;
}


.question {
  margin: 0 0 .2em 0;
}


input, select {
  width: 100%;
  height: 2.5em;
  padding: 0 .5em;
  font-size: 1em;
  margin: .2em 0 1em 0;
  border-radius: .5em;
  border-color: transparent;
}


input[type="radio"], input[type="checkbox"] {
  width: unset;
  vertical-align: middle;
  margin: 0 .5em 0 0;
}


input[type="submit"] {
  background-color: #0c0;
  width: 20vw;
  margin: 0;
}


textarea {
  width: 100%;
  min-height: 7em;
  resize: vertical;
  font-size: 1.25em;
  padding: .5em;
  margin-top: .2em;
  border-radius: .5em;
  border-color: transparent;
}